<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.diagnostics>
    <!-- I dont like this output -->
    <!--<trace autoflush="false" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="logfiles\oldglobal.svclog" traceOutputOptions="DateTime,ThreadId,Callstack" />
      </listeners>
    </trace>-->
    <sources>
      <!--
      Disable Global (you can search better in the other traces)
      <source name="global" switchValue="All">
        <listeners>
          <add name="myListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="logfiles\global.svclog" traceOutputOptions="DateTime,ThreadId"  />
        </listeners>
      </source>-->
      <source name="Yaaf.Utils" switchValue="All">
        <listeners>
          <add name="myListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="logfiles\Yaaf.Utils.svclog" traceOutputOptions="DateTime,ThreadId"  />
        </listeners>
      </source>
      <source name="SyncLib" switchValue="All">
        <listeners>
          <add name="myListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="logfiles\SyncLib.svclog" traceOutputOptions="DateTime,ThreadId"   />
        </listeners>
      </source>
      <source name="SyncLib.Git" switchValue="All">
        <listeners>
          <add name="myListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="logfiles\SyncLib.Git.svclog" traceOutputOptions="DateTime,ThreadId" />
        </listeners>
      </source>
      <source name="ConsoleSync" switchValue="All">
        <listeners>
          <add name="myListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="logfiles\ConsoleSync.svclog" traceOutputOptions="DateTime,ThreadId"  />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
